.App {
  text-align: center;
}

.gamePiece {
  height: 150px;
  width: 150px;
}

.gamePieceText {
  font-size: 30px;
}

.text {
  font-size: 50px;
}

.gameSpace {
  border: solid hotpink;
  height: 200px;
  width: 200px;
}
